---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.site-title {
  white-space: pre;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  font-weight: lighter;
  background-image: url("../images/logo.gif");
  // z-index: 20;
  font-size: 14px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}